# Virtual environments
.venv/
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/


# Models / outputs
*.pt
*.pth
*.onnx
runs/
outputs/
out/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
setup_venv_linux_mac.sh
unet_architecture
setup_venv_windows.ps1
archive.zip
.gitignore
